$error-color: #FF6060
$valid-color: #80AA80
.last-name-row
  margin-bottom: 0

.last-name-modify-row
  margin-top: 5px

.last-name-modify-row label
  line-height: 1
  padding-left: 0

.small
  font-size: 0.9em

.container
  .row:last-child
    margin-bottom: 0
  .row
    .form-wrapper
      .left-shadow
        left: 0
        margin-left: -7px
        background-image: url("../images/shadow_l.png")

      .right-shadow
        right: 0
        margin-right: -7px
        background-image: url("../images/shadow_r.png")
      .right-shadow,
      .left-shadow
        position: absolute
        top: 0
        width: 22px
        height: 100%
        background-repeat: no-repeat
      .wrapper
        background: #fefcea
        background: linear-gradient(to top, #ffe8e8, #ffe8e8, #ffe8e8, #fbd7d7, #efd5d4)

      .submit-wrapper
        background: #a7b2ce
        background: linear-gradient(to top, #a7b2ce, #d8cbd8)
        padding-top: 20px
        .row
          margin-top: 0px
          margin-bottom: 0px
          .span6
            padding-left: 5px
          button.button
            background: linear-gradient(to top, #ebecf3, #dddde3, #ebecf3) repeat scroll 0 0 rgba(0, 0, 0, 0)
            border-radius: 15px
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.2)
            display: block
            font-size: 2em
            font-weight: bold
            margin: 20px auto
            padding: 10px 25px
            text-shadow: 1px 1px white

          button:hover
            background: linear-gradient(to top, #dddde3, #ebecf3, #dddde3) repeat scroll 0 0 rgba(0, 0, 0, 0)





input[name="i_not_sick"]
  display: inline-block
  vertical-align: top

label[for="i_not_sick"]
  display: inline-block
  width: 90%
  line-height: 1

ul li label
  line-height: 1em

input.error
  box-shadow: 0 1px 10px 0 $error-color inset

input.valid
  box-shadow: 0 1px 3px 0 $valid-color inset

input[type=checkbox].error,
select.error
  box-shadow: 0 1px 5px 0 $error-color

input[type=checkbox].valid,
select.valid
  box-shadow: 0 1px 3px 0 $valid-color

span.error,
span.valid
  font-size: 0.75em
  line-height: 3em
  margin: 0 10px

span.error
  color: red

span.valid, span.success
  color: green

div.error
  display: none
/* ======================================================================================= */
/* #Desktop - Extra Large*/
/*================================================== */
@media only screen and (min-width: 1280px)
  html
    body
      .container
        .right-block.span3
          float: right
        input.input-text
          width: 40%
        legend
          margin-left: 195px

@media only screen and (max-width: 1280px)
  html
    body
      .container
        .submit-wrapper fieldset
          padding-bottom: 15px

/* #Desktop*/
/*================================================== */

@media only screen and (min-width: 978px) and (max-width: 1279px)
  html
    body
      .container
        .right-block.span3
          float: right
        input[name='last_name_modify']
          margin-right: 6px
        legend
          margin-left: 24%

/* #Tablet (Portrait)*/
/*================================================== */

/* Note: Design for a width of 768px, Gutter: 20px, Unit: 44px */
@media only screen and (min-width: 768px) and (max-width: 977px)
  html
    body
      font-size: 1.75em
      .container
        .input-wrapper.row .span1,
        .input-wrapper.row .span2,
        .input-wrapper.row .span3,
        .input-wrapper.row .span4,
        .input-wrapper.row .span5,
        .input-wrapper.row .span6,
        .input-wrapper.row .span7,
        .input-wrapper.row .span8,
        .input-wrapper.row .span9,
        .input-wrapper.row .span10,
        .input-wrapper.row .span11,
        .input-wrapper.row .span12
          display: inline-block

        .input-wrapper.row .span3
          width: 230px
        .input-wrapper.row .span6
          width: 330px
        .form-wrapper .wrapper
          padding-right: 22px
        input[name='last_name_modify']
          margin-right: 6px
        select option
          font-size: 1em
        .submit-wrapper
          .row
            button.button
              width: 400px
              padding: 20px 25px
          .input-wrapper.row:first-child
            .span6
              width: 450px

/*  #Mobile (Portrait)*/
/*================================================== */

/* Note: Design for a width of 320px Gutter: 10px, Unit: 15px */
@media only screen and (max-width: 767px)
  html
    body
      font-size: 1.75em
      .container
        .row
          .form-wrapper
            .left-shadow,
            .right-shadow
              display: none
          h1.span12,
          .right-block h3,
          .right-block p
            margin-left: 15px
            margin-right: 20px
          h1.span12
            padding-left: 15px
            padding-right: 15px
          input[name='last_name_modify']
            margin-right: 6px
            margin-top: 3px
          .submit-wrapper fieldset
            padding-bottom: 0

/* #Mobile (Landscape)*/
/*================================================== */

/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px)
  html
    body
      .container
        .row:first-child
          margin-top: 0
        .row
          h1.span12
            padding-left: 0

@media only screen and (max-width: 320px)
  html
    body
      .container
        h1
          font-size: 1.7em
        h1,
        .right-block,
        .input-wrapper
          margin: 0 10px

  .submit-wrapper
    .row
      button.button
        padding: 10px 20px
        margin: 20px auto
        font-size: 1.7em
      .span6
        padding-left: 0

  legend
    margin-left: 5px