/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; display:inline-block; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }

.clear,
.clear-2{clear:both;}
/* ======================================================================================= */

/* Global Styles ========================================================================= */
body {
    font:0.9em/1.5em "Open Sans", sans-serif;
    color: #000;
}

a {
    text-decoration:none;
       -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
         -o-transition: all 300ms ease;
            transition: all 300ms ease;
    color:#777;
}
a:hover {
    text-decoration:none;
    color:#444;
}
:focus        { outline:0; }

/* Headings */
h1            { font-size:2em;      line-height:normal; font-weight:normal; }
h2            { font-size:1.33em;   line-height:normal; font-weight:bold;   margin-bottom:0.57em;}
h3            { font-size:1.09em;   line-height:normal; font-weight:bold;   margin-bottom:0.69em;}
h4            { font-size:1em;      line-height:normal; font-weight:bold;   margin-bottom:0.75em;}
h5            { font-size:0.91em;   line-height:normal; font-weight:bold;   margin-bottom:0.83em;}
h6            { font-size:0.91em;   line-height:normal; font-weight:normal; margin-bottom:0.83em;}

/*h1,h2,h3,h4,h5,h6{font-family: Arial, sans-serif;}*/

.col-main p{margin-bottom:0.2em;}

.content-wrapper{overflow:hidden;}

/* Form Elements */
input,select,textarea,button { font:20px/30px sans-serif; vertical-align:middle; color:#999699;background-color: #fff; border: none; box-shadow: 0 0 3px 0 #808080 inset;}
input:focus ,select:focus,textarea:focus,button:focus {box-shadow: 0 0 3px 0 #202080 inset;}
input.input-text,select{height:18px;}
input.input-text,select,textarea { background:#fff; border:1px solid #d4d4d4; }
input.input-text,textarea { padding:2px; }
select {font:12px/18px sans-serif; padding:1px 1px 1px 3px; height:25px;}
select option { padding-right:10px; }
select.multiselect{height:auto;}
select.multiselect option { border-bottom:1px solid #ddd; padding:2px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; margin-top:0;}
input.checkbox { margin-right:3px; }
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button span{
    float:left;
    height:28px;
    padding:0 0 0 20px;
    text-align:center;
    white-space:nowrap;
    color:#fff;
    -moz-transition:background-color 300ms ease;
    -webkit-transition:background-color 300ms ease;
    -o-transition:background-color 300ms ease;
    transition:background-color 300ms ease;
}
button.button span span { height: auto; background:none; border:none; padding:2px 20px 0 0; font-size:16px; line-height:24px; text-transform:uppercase; font-weight:normal; color:#fff;}
button.button:hover > span{background-color:#444;}