

.submit-wrapper .row {
    margin-top: 0px;
    margin-bottom: 0px;
}

.submit-wrapper .row .span6 {
    padding-left: 5px;
}

.last-name-row{
    margin-bottom: 0;
}
.last-name-modify-row{
    margin-top: 5px;
}
.last-name-modify-row label{
    line-height: 1;
    padding-left: 0;
}

.small{
    font-size: 0.9em;
}

.form-wrapper .wrapper{
    background: #fefcea;
    background: linear-gradient(to top, #ffe8e8, #ffe8e8,#ffe8e8,#fbd7d7 , #efd5d4);
}

.form-wrapper .submit-wrapper{
    background: #a7b2ce;
    background: linear-gradient(to top, #a7b2ce, #d8cbd8);
    padding-top: 20px;
}

.left-shadow
{
    left:0;
    margin-left: -7px;
}
.right-shadow{
    right:0;
    margin-right: -7px;
}
.right-shadow,
.left-shadow{
    position: absolute;
    top:0;
}

.submit-wrapper .row button.button {
    background: linear-gradient(to top, #ebecf3, #dddde3, #ebecf3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px 25px;
    text-shadow: 1px 1px white;
}

div.submit-wrapper  button:hover{
    background: linear-gradient(to top, #dddde3, #ebecf3, #dddde3) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

input[name="i_not_sick"]
{
    display: inline-block;
    vertical-align: top;
}

label[for="i_not_sick"]
{
    display: inline-block;
    width: 90%;
    line-height: 1;
}

/* ======================================================================================= */
/* #Desktop - Extra Large*/
/*================================================== */
@media only screen and (min-width: 1280px) {
    .right-block.span3{ float: right; }
    input.input-text{ width: 40% }
    legend{margin-left: 195px;}

}
@media only screen and (max-width: 1280px) {
    .submit-wrapper fieldset{ padding-bottom: 15px; }
}

/* #Desktop*/
/*================================================== */

@media only screen and (min-width: 978px)  and (max-width: 1279px) {
    .right-block.span3{ float: right; }
    input[name='last_name_modify']  {margin-right: 6px;}
    legend{margin-left: 24%;}
}

/* #Tablet (Portrait)*/
/*================================================== */

/* Note: Design for a width of 768px, Gutter: 20px, Unit: 44px */
@media only screen and (min-width: 768px) and (max-width: 977px) {
    body{ font-size: 1.75em; }
    .input-wrapper.row .span1,
    .input-wrapper.row .span2,
    .input-wrapper.row .span3,
    .input-wrapper.row .span4,
    .input-wrapper.row .span5,
    .input-wrapper.row .span6,
    .input-wrapper.row .span7,
    .input-wrapper.row .span8,
    .input-wrapper.row .span9,
    .input-wrapper.row .span10,
    .input-wrapper.row .span11,
    .input-wrapper.row .span12
    {
        display: inline-block;
    }
    .input-wrapper.row .span3{ width: 230px; }
    .input-wrapper.row .span6{ width: 330px; }
    .form-wrapper .wrapper { padding-right: 22px; }
    /*.right-shadow{ margin-right: 0; }*/
    input[name='last_name_modify']  {margin-right: 6px;}
    .submit-wrapper .row button.button { width: 400px; padding: 20px 25px;}
    select option{ font-size: 1em; }
    .submit-wrapper .input-wrapper.row:first-child .span6 {
        width: 450px;
    }
}


/*  #Mobile (Portrait)*/
/*================================================== */

/* Note: Design for a width of 320px Gutter: 10px, Unit: 15px */
@media only screen and (max-width: 767px) {
    .left-shadow,
    .right-shadow{ display: none; }
    h1.span12,
    .right-block h3,
    .right-block p{
        margin-left: 15px;
        margin-right: 20px;
    }
    h1.span12{
        padding-left: 15px;
        padding-right: 15px;
    }
    input[name='last_name_modify']  {margin-right: 6px;margin-top: 3px;}
    .submit-wrapper fieldset{ padding-bottom: 0; }
}

/* #Mobile (Landscape)*/
/*================================================== */

/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1.span12{
        padding-left: 0;
    }
    .container .row:first-child{
        margin-top: 0;
    }
}

@media only screen and (max-width: 320px){
    h1{ font-size: 2em; }
    h1,
    .right-block,
    .input-wrapper
    {
        margin: 0 10px;
    }
    div.submit-wrapper .row button.button{
        padding: 10px 20px;
        margin: 20px auto;
        font-size: 1.7em;
    }
    .submit-wrapper .row .span6{
        padding-left: 0;
    }
    legend { margin-left: 5px; }
}